<!-- templates/thank_you.html -->
{% extends "base/other-page.html" %}
{% load static}

{% block content %}

            <!--start video -->
            <div class="container">

                <div class="col-md-6 mb-5">
                    <div class="gtco-video gtco-bg" style="background-image:url(pics/img_1.jpg);">
                        <a href="#" class="popup-vimeo"><i class="icon-video2"></i></a>
                        <div class="overlay1"></div>
                    </div>
                </div>
            </div>
            <!--end video -->
            
            {% endblock %}