{% extends "admin/change_form.html" %}
{% load i18n %}
{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
       
        const userGroupDropdown = document.getElementById("id_user_group");  // adjust ID as necessary
        const formFields = document.querySelectorAll(".form-row input, .form-row select, .form-row textarea");
        const saveButton = document.querySelector("input[name='_save']");
       // const addanotherButton = document.querySelector("input[name='_addanother']");
       // const saveContinueButton = document.querySelector("input[name='_continue']");
        
        // Function to check if all fields are populated
        function checkFields() {
            let allFieldsFilled = true;

            formFields.forEach(field => {
                if (!field.value.trim()) {
                    allFieldsFilled = false;
                }
            });

            if (allFieldsFilled) {
                saveButton.disabled = false;
                //saveContinueButton.disabled = false;
               // addanotherButton.disabled = false;
            } else {
                saveButton.disabled = true;
               // addanotherButton.disabled = true;
                //saveContinueButton.disabled = true;
            }
        }

        // Initial check on page load
        checkFields();

        // Check fields on each change
        formFields.forEach(field => {
            field.addEventListener("input", checkFields);
        });
    });
</script>
{% endblock %}


{% block submit_buttons_bottom %}
    <input type="submit" value="{% trans 'Save' %}" class="default" name="_save" />
{% endblock %}
